.app__container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app__content {
  padding: 5px;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.app__sidebar {
  width: 500px;
  height: 100vh;
  flex-shrink: 0;
  border-right: 1px solid rgba(0,0,0,0.15);
}

.app__sidebar > .scrollable {
  overflow: auto;
  height: calc(100% - 70px);
}

