.http__header-name {
  font-weight: 700;
  color: var(--color-warm--600);
}

.http__header-name:after {
  content: ': ';
  color: var(--color-warm--600);
}

.http__header-value {
  font-family: var(--font-family--mono);
}
