.json-value {
  font-family: var(--font-family--mono);
  line-height: 1.6;
}

.json-value--collapsed {
  color: grey;
  cursor: pointer;
  background-color: var(--color-blue--100);
}

.json-value__object-property {
  margin-left: 4ch;
}

.json-value__key--object {
  color: var(--color-mono--700);
}

.json-value__key:after {
  content: ': ';
}

.json-value__key--array {
  color: royalblue;
}

.json-value--string {
  color: var(--color-yellow--700);
}

.json-value--number {
  color: var(--color-blue--700);
}

.json-value--null {
  color: var(--color-red--700);
}

.json-value--bool {
  color: var(--color-grand-blue--700);
}
