
.list {
  --marker-size: 3px;
}

.list__item {
  min-height: 28px;
  align-items: center;
  display: flex;
}

.list__item--success {
  box-shadow: var(--marker-size) 0 0 0 var(--ui-success) inset;
}

.list__item--selected {
  background-color: #26303b !important;
  color: #f5f7fa;
}

.list__item--neutral {
  box-shadow: var(--marker-size) 0 0 0 var(--color-blue--400) inset;
}

.list__item--failure {
  box-shadow: var(--marker-size) 0 0 0 var(--ui-failure) inset;
}

