<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Puerh: Dev toolkit for pure-ish</title>
    <script src="https://unpkg.com/json-viewer-custom-element"></script>
  </head>

  <body>
  </body>
</html>
